
/*FUENTES*/
@font-face{
    font-family:'anton';
    src:url('../rsc/fonts/anton.ttf') format('truetype');
}
@font-face{
    font-family:'kanitRegular';
    src:url('../rsc/fonts/Kanit-Regular.ttf') format('truetype');
}
@font-face{
    font-family:'kanitSemi';
    src:url('../rsc/fonts/Kanit-Semibold.ttf') format('truetype');
}

/* Required height of parents of the Full Page Intro and Intro itself */
html,
body,
.view {
  height: 100%; }

body{
    margin: 0;
    padding: 0;
}
#map{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.leaflet-control-layers{
    width: 100% !important;
}

.leaflet-touch .leaflet-control-layers{
    border: 0px !important;
}
.leaflet-control-layers-selector{
    position:relative !important;
    opacity: 1 !important;
}
/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331;
}
.leaflet-popup-close-button{
    color: #1b1b1b !important;
}
.leaflet-popup-content-wrapper{
    background-color:rgba(237,237,237,0.9);
    color: #1b1b1b;
}
.leaflet-popup-tip{
    background-color:rgba(237,237,237,0.9);
}
.tituloPeña{
    font-family: 'anton';
    letter-spacing: 0.5px;
    font-size: 16px;
}
.direccionPeña{
    font-family: 'kanitRegular';
    letter-spacing: 0px;
    font-size: 14px;
}
.tituloMunicipio{
    font-family: 'kanitRegular';
    letter-spacing: 0px;
    font-size: 14px;
}
.botoncito{
    background: #ededed !important;
    color: #1b1b1b !important;
    box-shadow: 0 0px 10px 0 #1b1b1b;
}
.icono{
    color: #1b1b1b !important;
}
.iconoBIC{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: blue;
    display: inline-block;
}
.iconoCG{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: orange;
    display: inline-block;
}
.conjuntoHistorico{
    border: 1px solid red;
    background: rgba(255, 0, 0, 0.3); 
    width: 12px;
    height: 12px;
    display: inline-block;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

  /*RESPONSIVE*/
@media screen and (min-width: 2561px){
}
/*TVs*/
@media screen and (max-width: 2560px){
}

/*PC SOBREMESA*/
@media screen and (max-width: 1920px){
}

/*PC PORTATIL*/
@media screen and (max-width: 1360px){}

/*TABLET*/
@media screen and (max-width: 720px){

}

/*MÓVIL*/
@media screen and (max-width: 480px){
    .tituloPeña{
        font-family: 'anton';
        letter-spacing: 0.5px;
        font-size: 14px;
    }
    .direccionPeña{
        font-family: 'kanitRegular';
        letter-spacing: 0px;
        font-size: 14px;
    }
    .tituloMunicipio{
        font-family: 'kanitRegular';
        letter-spacing: 0px;
        font-size: 14px;
    }
}
/*SMARTWATCH*/
@media screen and (max-width: 320px){

}